* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    text-align: justify;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: ghostwhite;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.nav-image {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 30%;
}

.site-header {
    height: 7rem;
    width: 100%;
    background-color: #E30613;
    color: white;
    align-items: center;
    display: flex;
    border-bottom: #000000 solid 0.25rem;
}

.main-nav {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
}
.nav-item a {
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.2s;
    overflow-wrap: unset;
}

a:hover {
    color: #000000;
}

.senai-image {
    width: 80%;
    height: auto;
}

.carreiras-title {
    margin-top: 1rem;
    text-align: center;
    font-size: 3.125rem;
    color: #681413;
}

.saudacoes-title{
    text-align: center;
    margin: 0.5em;
    font-size: 215%;
}

.main-text{
    font-size: 145%;
    margin: 1rem;
}

.site-footer {
    text-align: center;
    background-color: #9a1915;
    color: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.938rem;
    margin-top: 6.25rem;
}

.contact-info {
    margin-bottom: 0.313rem;
}

.author-name {
    color: #dccacb;
    margin-bottom: 0.313rem;
}

.author-email {
    margin-bottom: 0.313rem;
}

.email-link {
    color: #2e89e4;
    text-decoration: none;
    transition: 0.5s;
}

.membros-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.125rem;
    gap: 5rem;
    left: 35rem;
}

.carreira-div {
    font-size: 1rem;
    background-color: #D9D9D9;
    border-radius: 1.25rem;
    height: 40%;
    width: 30%;
    flex-flow: wrap;
    margin: 2%;
}

.carreira-text {
    position: relative;
    color: black;
    font-size: 150% ;
}

.carreira-profissao {
    color: black;
}

.estagio-main {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4rem;
    margin-bottom: 1.25rem;
    text-align: center;
    margin: 2rem;
}

.estagio-div {
    background-color: #D9D9D9;
    border-radius: 1.25rem;
    width: 18.75rem;
    height: 11.25rem;
    display: flex;
    border-bottom: 0.313rem solid black;
    border-right: 0.313rem solid black;
    margin-left: 20%;
}

.carrer-name {
    font-weight: bold;
}

.carreira-photo {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

.h6 {
    font-size: 1.063rem;
    font-family: Arial, Helvetica, sans-serif;
}

.estagio-container {
    gap: 5rem;
    font-size: 1.75rem;
    flex-direction: row;
    margin: 0.1rem;
}

.estagio-div {
    height: 10rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.carrer-estagio {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-footer {
    display: flex;
    text-align: center;
    background-color: #E30613;
    color: #ffffff;
    flex-direction: column;
    font-size: 15px;
    height: 23rem;
    border-top: 0.125rem solid black;
    width: 100%;
}

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-senai {
    height: auto;
    width: 32%;
    margin: 0.625rem;
    margin-bottom: 18px;
}

.bar-footer .site-footer p {
    margin-bottom: 8px;
    margin-top: 8px;
}

.contact-info {
    margin-bottom: 5px;
}

.site-footer p {
    margin: 0.5rem 0;
}

.contact-info,
.author-name,
.author-email {
    margin-bottom: 0.3125rem;
}

.email-link {
    color: #2e89e4;
    text-decoration: none;
    transition: 0.5s;
}

.copy-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text-section {
    width: 20rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    text-align: center;
}

.footer-horizontal {
    background-color: #ffffff;
    overflow: hidden;
    height: 0.75vh;
    width: 50%;
}

.footer-vertical {
    background-color: #ffffff;
    border-right: 3px;
    width: 8px;
    height: 70%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    display: flex;
}

.footer-bottom {
    background-color: #9A1915;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 15px;
    /* text-align: justify; */
}

.footer-title-negrito {
    font-weight: bold;
}


@media (max-width: 900px) {
    .header-container{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-around;
    } 
    .main-nav {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }

    .membros-container {
        flex-direction: column;
    }

    .carreira-div {
        height: 10rem;
        width: 20rem;
    }

    .carreira-photo {
        height: 100%;
        width: 100%;
    }

    .estagio-main {
        margin: 1rem;
        flex-direction: column;
    }

    .estagio-container {
        margin-top: 0%;
        flex-direction: column;
    }

    .carrer-estagio {
        width: 100%;
        height: 100%;
    }

    .estagio-text {
        margin: 1rem;
        font-size: 0.30rem;
    }

    .carrer-estagio {
        margin-right: 100%;
    }

    .main-text{
        text-align: center;
        margin: 1rem;
    }

    .carreira-text{
        text-align: center;
    }
}
