* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: ghostwhite;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.nav-image {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 30%;
}

.site-header {
    height: 7rem;
    width: 100%;
    background-color: #E30613;
    color: white;
    align-items: center;
    display: flex;
}

.main-nav {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
}
.nav-item a {
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.2s;
    overflow-wrap: unset;
}

a:hover {
    color: #000000;
}

.senai-image {
    width: 80%;
    height: auto;
}

.carreiras-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    font-size: 50px;
    color: #681413;
}

.main-text{
    font-size: 20px;
    text-align: center;
    display: flex;
}

.site-footer {
    text-align: center;
    background-color: #9a1915;
    color: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    margin-top: 100px;
}

.contact-info {
    margin-bottom: 5px;
}

.author-name {
    color: #dccacb;
    margin-bottom: 5px;
}

.author-email {
    margin-bottom: 5px;
}

.email-link {
    color: #2e89e4;
    text-decoration: none;
    transition: 0.5s;
}

.membros-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 5rem;
    left: 35rem;
}

.carreira-div {
    font-size: 16px;
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 300px;
    height: 180px;
    flex-flow: wrap;
}

.carreira-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: black;
}

.estagio-main {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 20px;
}

.estagio-container {   
    gap: 5rem;
}

.estagio-div {
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 300px;
    height: 180px;
    display: flex;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

