* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-optical-sizing: auto;
    text-align: justify;
}

body {
    background-color: ghostwhite;
    font-family: "Montserrat";
    font-optical-sizing: auto;
}

.header-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.nav-header{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-bottom: #9A1915 solid 0.25rem;
}

.sub-header{
    width: 100%;
    height: 40%;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-image {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 30%;
}

.site-header {
    height: 10rem;
    width: 100%;
    background-color: #E30613;
    align-items: center;
    display: flex;
   
}

.main-nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;

}
.nav-item, .nav-item-active{
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.2s;
    overflow-wrap: unset;
}
.nav-item a, .nav-item-active a{
    text-decoration: none;
    color: rgb(68, 65, 65);
}
.nav-item-active{
    background-color: rgb(247, 247, 250);
    border-radius: 1rem;
    width: 7rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.senai-image {
    width: 80%;
    height: auto;
}

.contato-title {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 2rem;
    font-size: 3rem;
    color: #681413;
    bottom: 0.5rem;
}

.main-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-text{
    font-size: 1.75rem;
    margin: 1rem;
    text-align: center;
    bottom: 2vh;
    padding: 1vh;
}

.suas-informacoes {
    color: #000000;
    letter-spacing: 0.1rem;
    text-decoration: underline;
}

.contato-box {
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: ghostwhite;
    border: 2px solid black;
    display: flex;
    width: 60%;
    height: calc(width * 10);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 3vh;
    opacity: 0.75rem;
    overflow: hidden;
    background-image: url(/img/1.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

form {
    margin-top: 3vh;
}

.informations-box {
    background-color: ghostwhite;
    height: 100%;
    opacity: 0.75rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.nome-text, .email-text, .telefone-text, .sugestion-text  {
    color: #9A1915;
    background-color: ghostwhite;
    border-radius: 2vh;
    width: 12rem;
}

.nome-text, .email-text {
    width: 9rem;
}

.sugestion-text {
    width: 19.2rem;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder { /* Firefox 18- */
    color: transparent;  
}

input:focus::-moz-placeholder {  /* Firefox 19+ */
    color: transparent;  
}

input:focus:-ms-input-placeholder {  
    color: transparent;  
}

.nome-contato, .email-contato, .telefone-contato {
    height: 3rem;
    width: 60vh;
    background-color: white;
    border-radius: 3vh;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0.3rem;
}

.text-contato {
    height: 5rem;
    width: 100%;
    border-radius: 1vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.text-contato::placeholder {
    position: relative;
    top: 1rem;
}

::placeholder {
    color: black;
    font-weight: bold;
}

.logo-app-whatsapp{
    width: 7vh;
    height: 7vh;
    margin-top: -0.2rem;
}

.button-and-social-media {
    display: flex;
    margin-bottom: 3vh;
    position: relative;
    bottom: 2vh;
}

.logo-app-gmail {
    margin-left: 13rem;
    width: 6vh;
    height: 6vh;
}

.submit-contato {
    width: 10vh;
    height: 5vh;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5vh;
    background-color: #E30613;
    color: #ffffff;
}

.site-footer {
    display: flex;
    background-color: #E30613;
    color: #ffffff;
    flex-direction: column;
    font-size: 15px;
    height: 23rem;
    border-top: 0.125rem solid black;
    width: 100%;
}

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-senai {
    height: auto;
    width: 32%;
    margin: 0.625rem;
    margin-bottom: 18px;
}

.bar-footer .site-footer p {
    margin-bottom: 8px;
    margin-top: 8px;
}

.contact-info {
    margin-bottom: 5px;
}

.site-footer p {
    margin: 0.5rem 0;
}

.contact-info,
.author-name,
.author-email {
    margin-bottom: 0.3125rem;
}

.copy-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text-section {
    width: 20rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.footer-horizontal {
    background-color: #ffffff;
    overflow: hidden;
    height: 0.75vh;
    width: 50%;
}

.footer-vertical {
    background-color: #ffffff;
    border-right: 3px;
    width: 8px;
    height: 70%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    display: flex;
}

.footer-bottom {
    background-color: #9A1915;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 15px;
}

.footer-title-negrito {
    font-weight: bold;
}

.footer-horizontal {
    background-color: #ffffff;
    height: 0.75vh;
    width: 50%;
}

.footer-vertical{
    background-color: #ffffff;
    border-right: 3px;
    width: 8px;
    height: 70%;
    margin-top: 15px;
}

.footer-bottom{
    background-color: #9A1915;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 15px;

}


@media (max-width: 900px) {
    .header-container{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-around;
    } 
    .main-nav {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }
    
    .membros-container {
        flex-direction: column;
    }

    .carreira-div {
        height: 10rem;
        width: 20rem;
    }

    .carreira-photo {
        height: 100%;
        width: 100%;
    }

    .estagio-container {
        flex-direction: column;
        margin-top: 0%;
    }

    .carrer-estagio {
        width: 100%;
        height: 100%;
    }

    .estagio-text {
        margin: 1.2rem;
        font-size: 1.25rem;
    }

    .carrer-estagio {
        margin-right: 100%;
    }

    .main-text{
        font-size: 0.75rem;
        margin: 1rem;
    }
}