* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Montserrat";
    font-optical-sizing: auto;
    text-align: justify;
}
:root {
    --background-color: white;
    --title-color: #681413;
    --description-color: black;
    --name-color: #8F1A1A;
    --button-background: #9a1915;
}

a {
    text-decoration: none;
    color: white;
}
.dropdown-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border: none;
    background-color: #E30613;
}
.dropdown-menu{
    display: none;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: #DDDDDD;
    width: 16rem;
    height: 30rem;
    border: #9A1915 solid 0.2rem;
    z-index: 2;
}
.dropdown-item{
    color: #9A1915;
    text-decoration: none;
    font-size: 1.3rem;
    width: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 12%;
}
.dropdown-item:hover{
    background-color: #817c7c;
    color: #681413;
    text-decoration: none;
    transition: 0.5s;
}
body {
    background-color: ghostwhite;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    animation: fadeIn 0.5s ease;
}

.header-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.nav-header{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-bottom: #9A1915 solid 0.25rem;
}

.sub-header{
    width: 100%;
    height: 40%;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: #000000 solid 0.25rem;
}

.nav-image {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 30%;
}

.site-header {
    height: 10rem;
    width: 100%;
    background-color: #E30613;
    align-items: center;
    display: flex;
}

.main-nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;

}
.nav-item, .nav-item-active{
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.2s;
    overflow-wrap: unset;
}
.nav-item a, .nav-item-active a{
    text-decoration: none;
    color: rgb(68, 65, 65);
}
.nav-item-active{
    background-color: rgb(247, 247, 250);
    border-radius: 1rem;
    width: 7rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.senai-image {
    width: 80%;
    height: auto;
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.5rem;
    overflow-y: hidden;
}

.dicas-title {
    font-size: 3rem;
    color: var(--title-color);
    font-weight: bold;
    margin: 2rem;
    overflow: hidden;
    white-space: nowrap;
}

.dicas-subtitle {
    font-size: 1.5rem;
    color: var(--description-color);
    font-weight: 600;
    align-self: center;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.dicas-section {
    overflow: hidden;
}

.dicas-article {
    margin: 1.5rem;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: auto;
    border: 0.5rem solid #9a1915;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    background-color: ghostwhite;
    padding: 3rem;
    overflow-y: hidden;
}

.dicas-name {
    font-size: 2rem;
    color: var(--name-color);
    font-weight: bold;
    margin-bottom: 1rem;
}
.page-description{
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.4rem;
}

.dicas-explanation {
    font-size: 1.5rem;
    color: var(--description-color);
}

.education-methods {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
}

.method {
    background-color: red;
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid black;
    transition: 0.3s ease;
    margin: 1rem;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.method:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.center-title {
    font-size: 2rem;
    color: #681413;
    user-select: none;
}

.first-method,
.last-method {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.method {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pomodoro {
    background-image: url("../img/pomodoro-img.webp");
}

.difuso {
    background-image: url("../img/difuso-img.png");
}

.mnemonico {
    background-image: url("../img/mnemonico-img.jpg");
}

.robinson {
    background-image: url("../img/metodo-robinson.jpg");
}

.center {
    background-color: red;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 18rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 3rem;
    border: 2px solid black;
}

.universities {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5%;
    height: auto;
    padding: 2rem;
}

.university {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23.333%;
    height: 60vh;
    border-radius: 3rem;
    border: 3px solid #681413;
    transition: .3s ease;
    overflow-y: hidden;
}

.usp,
.puc,
.unicamp {
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.usp {
    background-image: url(https://imagens.usp.br/wp-content/uploads/usp006.jpg);
}

.unicamp {
    background-image: url(https://unicamp.br/unicamp/sites/default/files/inline-images/man_enade_20201028_2.jpg);
}

.puc {
    background-image: url(https://j.pucsp.br/sites/default/files/foto_geral_3.jpg);
}

.PDFs {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-y: hidden;
}

.div-pdf {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    gap: 5%;
    height: 35vh;
}

.pdf-block {
    width: 23.333%;
    height: 30vh;
    background-color: red;
    border-radius: 3rem;
    border: 2px solid #681413;
    transition: .3s ease;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: .3s ease;
    color: white;
    background: url(../img/background-pdf.jpg);
}

.pdf-block:hover {
    transform: scale(1.1);
    cursor: pointer;
    text-decoration: underline;
    filter: brightness(.9);
}

.pdf-img {
    height: 7vh;
    width: auto;
    margin: 0.6rem;
}

.universities a {
    color: #9A1915;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 1.5rem;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 2rem;
    position: relative;
    top: 7rem;
}

.university:hover {
    transform: scale(1.1);
}

.university-name:hover {
    background-color: #E30613;
    color: white;
    transition: .5s ease;
    cursor: pointer;
}

.greetings {
    margin: 4rem;
}

.greetings-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--title-color);
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}

.greetings-description {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.greetings-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.greetings-button {
    height: 3rem;
    width: 12rem;
    font-size: 1rem;
    color: var(--description-color);
    transition: 0.2s ease-in-out;
    background-color: var(--background-color);
    border-radius: 0.5rem;
}

.greetings-button:hover {
    cursor: pointer;
    background-color: var(--button-background);
    color: white;
}

.button-ahref {
   text-decoration: none;
   color: var(--description-color); 
}

.influenciadores {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.img-and-h1 {
    display: flex;
}

.influenciador-descricao-div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.influenciador-descricao {
    font-size: 1.1rem;
    width: 21.25%;
     margin-right: 3%;
    margin-left: 3%;
    hyphens: auto;
    align-self: start;
}

.influenciador {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 21.25%;
    flex-wrap: nowrap;
    margin-right: 3%;
    overflow: hidden;
    margin-left: 3%;
}

.influenciador-img:hover {
    cursor: pointer;
    border: 2px solid #E30613;
}

.influenciador-img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    border: 2px solid #9A1915;
    object-fit: cover;
}

.influenciador-nome {
    font-size: 1.25rem;
    margin: 1rem 0;
    padding: 0;
    text-align: center;
    height: 3rem;
}

.site-footer {
    display: flex;
    background-color: #E30613;
    color: #ffffff;
    flex-direction: column;
    font-size: 15px;
    height: 23rem;
    border-top: 0.125rem solid black;
    width: 100%;
}

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-senai {
    height: auto;
    width: 32%;
    margin: 0.625rem;
    margin-bottom: 18px;
}

.bar-footer .site-footer p {
    margin-bottom: 8px;
    margin-top: 8px;
}

.contact-info {
    margin-bottom: 5px;
}

.site-footer p {
    margin: 0.5rem 0;
}

.contact-info,
.author-name,
.author-email {
    margin-bottom: 0.3125rem;
}

.email-link {
    color: #2e89e4;
    text-decoration: none;
    transition: 0.5s;
}

.pdf-title {
    word-spacing: normal;
    text-align: center;
    line-height: 1.6;
    hyphens: auto;
    font-weight: 400;
    color: black;
    text-shadow: 1px 1px 2px #000000;
}

.copy-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text-section {
    width: 20rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.footer-horizontal {
    background-color: #ffffff;
    overflow: hidden;
    height: 0.75vh;
    width: 50%;
}

.footer-vertical {
    background-color: #ffffff;
    border-right: 3px;
    width: 8px;
    height: 70%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    display: flex;
}

.footer-bottom {
    background-color: #9A1915;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 12.5px;
}

.footer-title-negrito {
    font-weight: bold;
}

@media (max-width: 900px) {
    .header-container{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-around;
    } 
    .main-nav {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }

    .universities {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
    }

    .university {
        width: 90%;
        height: 50vh;
    }
    
    .university a {
        font-size: 1rem;
        padding: 0.5rem;
    }        

    .university a {
        width: 50%;
        height: 10vh;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 2rem;
    }

    .dicas-name {
        font-size: 1.8rem;
    }
    .dicas-explanation {
        font-size: 1.4rem;
    }
}

@media (max-width: 600px) {
    .university a {
        font-size: 1.25rem;
    }

    .method {
        width: 5rem;
    }

    .center {
        width: 12rem;
    }

    .center-title {
        font-size: 1rem;
    }

    .div-pdf {
        width: 90%;
        margin-bottom: -5rem;
        border-radius: 16px;
        margin: 0.3rem;
    }

    .pdf-title {
        font-size: 0.5rem;
    }

}

@media (max-width: 756px) {
    .dicas-name {
        font-size: 1.5rem;
    }

    .dicas-explanation {
        font-size: 1.25rem;
    }

    .influenciadores {
        width: 90%;
        margin-left: 5%;
    }

    .influenciador-descricao-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .influenciador {
        width: 90%;
    }

    .influenciador-nome {
        font-size: 0.85rem;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 0.5rem;
    }

    .influenciador-descricao {
        font-size: 1rem;
        text-align: justify;
        width: 90%;
    }

    .div-pdf {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .pdf-block {
        width: 10rem;
        height: auto;
        aspect-ratio: 1/1;
    }

    .pdf-title {
        font-size: 0.5rem;
    }
    
}

@media (max-width: 500px) {
    .dicas-name {
        font-size: 1.25rem;
    }

    .dicas-title {
        font-size: 2rem;
    }

    .dicas-subtitle {
        font-size: 1.25rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .dicas-explanation {
        font-size: 1rem;
    }

    .influenciador-nome {
        font-size: 0.6rem;
    }

    .img-and-h1 {
        width: 100%;
    }

    .influenciador {
        width: 100%;
    }

    .influenciador-descricao-div {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .influenciador-descricao {
        width: 100%;
        font-size: 0.9rem;
    }

    .mid {
        gap: 0;
    }

    .method {
        width: 3rem;
    }

    .center-title {
        font-size: 0.8rem;
        overflow: visible;
    }

    .center {
        width: 9rem;
    }

    .div-pdf {
        flex-direction: column;
        margin-bottom: 3rem;
    }

    .pdf-block {
        border-radius: 1rem;
        width: 60%;
        height: 15rem;
    }

    .pdf-title {
        position: relative;
        bottom: 0.5rem;
    }

}