:root {
    --background-color: white;
    --title-color: #681413;
    --description-color: black;
    --name-color: #8F1A1A;
    --button-background: #9a1915;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: ghostwhite;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.nav-image {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 30%;
}

.site-header {
    height: 7rem;
    width: 100%;
    background-color: #E30613;
    color: white;
    align-items: center;
    display: flex;
}

.main-nav {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
}
.nav-item a {
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.2s;
    overflow-wrap: unset;
}

a:hover {
    color: #000000;
}

.senai-image {
    width: 80%;
    height: auto;
}

.main-title {
    text-align: center;
    margin: 0.5rem;
}

.dicas-title {
    font-size: 3rem;
    color: var(--title-color);
    font-weight: bold;
    margin: 1rem;
}

.dicas-description {
    font-size: 1.5rem;
    color: var(--description-color);
    font-weight: bold;
}

.dicas-article {
    margin: 4rem;
    width: 90%;
    height: auto;
    border: 0.5rem solid #9a1915;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    background-color: ghostwhite;
    padding: 2.5rem;
}

.dicas-name {
    font-size: 2rem;
    color: var(--name-color);
    font-weight: bold;
    margin-bottom: 1rem;
}

.dicas-explanation {
    font-size: 1.5rem;
    color: var(--description-color);
}

.greetings {
    margin: 4rem;
}

.greetings-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--title-color);
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}

.greetings-description {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.greetings-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.greetings-button {
    height: 3rem;
    width: 12rem;
    font-size: 1rem;
    color: var(--description-color);
    transition: 0.2s ease-in-out;
    background-color: var(--background-color);
    border-radius: 0.5rem;
}

.greetings-button:hover {
    cursor: pointer;
    background-color: var(--button-background);
    color: white;
}

.button-ahref {
   text-decoration: none;
   color: var(--description-color); 
}