* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Montserrat";
    font-optical-sizing: auto;
    text-align: justify;
}
:root {
    --background-color: white;
    --title-color: #681413;
    --description-color: black;
    --name-color: #8F1A1A;
    --button-background: #9a1915;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: ghostwhite;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.nav-image {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 30%;
}

.site-header {
    height: 7rem;
    width: 100%;
    background-color: #E30613;
    color: white;
    align-items: center;
    display: flex;
    border-bottom: #000000 solid 0.25rem;
}

.main-nav {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
}
.nav-item a {
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.2s;
    overflow-wrap: unset;
}

a:hover {
    color: #000000;
}

.senai-image {
    width: 80%;
    height: auto;
}

.main-title {
    text-align: center;
    margin: 0.5rem;
}

.dicas-title {
    font-size: 3rem;
    color: var(--title-color);
    font-weight: bold;
    margin: 1rem;
}

.dicas-description {
    font-size: 1.5rem;
    color: var(--description-color);
    font-weight: bold;
}

.dicas-article {
    margin: 4rem;
    width: 90%;
    height: auto;
    border: 0.5rem solid #9a1915;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    background-color: ghostwhite;
    padding: 2.5rem;
}

.dicas-name {
    font-size: 2rem;
    color: var(--name-color);
    font-weight: bold;
    margin-bottom: 1rem;
}

.dicas-explanation {
    font-size: 1.5rem;
    color: var(--description-color);
}

.greetings {
    margin: 4rem;
}

.greetings-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--title-color);
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}

.greetings-description {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.greetings-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.greetings-button {
    height: 3rem;
    width: 12rem;
    font-size: 1rem;
    color: var(--description-color);
    transition: 0.2s ease-in-out;
    background-color: var(--background-color);
    border-radius: 0.5rem;
}

.greetings-button:hover {
    cursor: pointer;
    background-color: var(--button-background);
    color: white;
}

.button-ahref {
   text-decoration: none;
   color: var(--description-color); 
}

.site-footer {
    display: flex;
    text-align: center;
    background-color: #E30613;
    color: #ffffff;
    flex-direction: column;
    font-size: 15px;
    height: 23rem;
    border-top: 0.125rem solid black;
    width: 100%;
}

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-senai {
    height: auto;
    width: 32%;
    margin: 0.625rem;
    margin-bottom: 18px;
}

.bar-footer .site-footer p {
    margin-bottom: 8px;
    margin-top: 8px;
}

.contact-info {
    margin-bottom: 5px;
}

.site-footer p {
    margin: 0.5rem 0;
}

.contact-info,
.author-name,
.author-email {
    margin-bottom: 0.3125rem;
}

.email-link {
    color: #2e89e4;
    text-decoration: none;
    transition: 0.5s;
}

.copy-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text-section {
    width: 20rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    text-align: center;
}

.footer-horizontal {
    background-color: #ffffff;
    overflow: hidden;
    height: 0.75vh;
    width: 50%;
}

.footer-vertical {
    background-color: #ffffff;
    border-right: 3px;
    width: 8px;
    height: 70%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    display: flex;
}

.footer-bottom {
    background-color: #9A1915;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 15px;
    /* text-align: justify; */
}

.footer-title-negrito {
    font-weight: bold;
}

@media (max-width: 900px) {
    .header-container{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-around;
    } 
    .main-nav {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }
    
}