* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Montserrat";
    font-optical-sizing: auto;
    text-align: justify;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: ghostwhite;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    animation: fadeIn 0.5s ease;
}

.header-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.nav-header{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-bottom: #9A1915 solid 0.25rem;
}

.sub-header{
    width: 100%;
    height: 40%;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: #000000 solid 0.25rem;
}

.nav-image {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 30%;
}

.site-header {
    height: 10rem;
    width: 100%;
    background-color: #E30613;
    align-items: center;
    display: flex;
   
}

.main-nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;

}
.nav-item, .nav-item-active{
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.2s;
    overflow-wrap: unset;
}
.nav-item a, .nav-item-active a{
    text-decoration: none;
    color: rgb(68, 65, 65);
}
.nav-item-active{
    background-color: rgb(247, 247, 250);
    border-radius: 1rem;
    width: 7rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.senai-image {
    width: 80%;
    height: auto;
}

.entrevistas-main {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.teacher-description {
    width: 70%;
    margin-bottom: 3rem;
}

.video-transcript {
    width: 70vw;
    margin: 1rem;
    text-indent: 2rem;
}

.video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.video-block {
    width: 70%;
    height: 50rem;
    border: 0.5rem solid #9a1915;   
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}
.video-description {
    font-size: 1.5rem;
}
.site-footer {
    display: flex;
    background-color: #E30613;
    color: #ffffff;
    flex-direction: column;
    font-size: 15px;
    height: 23rem;
    border-top: 0.125rem solid black;
    width: 100%;
}

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-senai {
    height: auto;
    width: 32%;
    margin: 0.625rem;
    margin-bottom: 18px;
}

.bar-footer .site-footer p {
    margin-bottom: 8px;
    margin-top: 8px;
}

.contact-info {
    margin-bottom: 5px;
}

.site-footer p {
    margin: 0.5rem 0;
}

.contact-info,
.author-name,
.author-email {
    margin-bottom: 0.3125rem;
}
.transcription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.entrevistas-h1 {
    margin-bottom: 1rem;
}
.email-link {
    color: #2e89e4;
    text-decoration: none;
    transition: 0.5s;
}

.copy-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text-section {
    width: 20rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.footer-horizontal {
    background-color: #ffffff;
    overflow: hidden;
    height: 0.75vh;
    width: 50%;
}

.footer-vertical {
    background-color: #ffffff;
    border-right: 3px;
    width: 8px;
    height: 70%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    display: flex;
}

.footer-bottom {
    background-color: #9A1915;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 15px;
}

.footer-title-negrito {
    font-weight: bold;
}

.footer-horizontal {
    background-color: #ffffff;
    height: 0.75vh;
    width: 50%;
}

.footer-vertical{
    background-color: #ffffff;
    border-right: 3px;
    width: 8px;
    height: 70%;
    margin-top: 15px;
}

.footer-bottom{
    background-color: #9A1915;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 15px;
    
    /* text-align: justify; */

}

@media (max-width: 900px) {
    .header-container{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-around;
    } 
    .main-nav {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }
    
}