

.sociologia-header {
    display: flex;
    color: #ffffffff;
    justify-content: space-between;
    background-color: #e30613;
    padding: 1rem 0;
  }
  
  .logo-header {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    background-color: #e30613;
  }
  
  .header-nav {
    list-style: none;
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .links {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 60px;
    margin-right: 50px;
  
  }
  
  .links a {
    display: flex;
    color: #ffffff;
    font-size: 1.3rem;
    border-bottom: 3px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .vertical-line {
    height: 50px;
    width: 3px;
    background-color: #ffff;
    margin: 0 20px;
    margin-right: 20px;
  }
  
  #icones-header {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    color: #ffffffff;
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 5px;
  }
  
  #sesi-logo {
    margin: 0 40px;
  }
  
  .banner {
    padding: 0;
    width: 100%;
    height: 600px;
    filter: brightness(0.6);
  
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .banner-titulo {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 100px;
  }
  
  h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    z-index: 3;
    color: white;
    margin-right: 950px;
  }
  
  #line {
    height: 5px;
    margin: 20px auto;
    width: 20%;
    background-color: #9A1915;
  }
  
  .topics-header {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .aba-text {
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: space-between;
    padding-left: 50px ;
  }
  .aba-text-dicas{
    color: rgb(0, 0, 0);
    padding-left: 70px;
  
  }
  
  .aba-item {
    background-color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    outline: none;
    width: 250px;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  .aba-text-check {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-left: 70px;
  }
  
  .aba-item-check {
    background-color: #9A1915;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    width: 250px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }