* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: ghostwhite;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.nav-image {
    margin-left: 100px;
}

.site-header {
    height: 125px;
    width: 100%;
    background-color: #E30613;
    color: white;
    align-items: center;
    display: flex;
}

.main-nav {
    align-items: center;
    display: flex;
    gap: 30px;
    margin-left: 60vh;
}

.main-text{
    font-size: 20px;
    text-align: center;
    display: flex;
}

.nav-item a {
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
    transition: 0.2s;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

.senai-image {
    height: 50px;
}

.home-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
    font-size: 50px;
    color: #681413;
    
}

.main-image {
    border: 4px solid black;
    border-radius: 3px;
    width: 100%;
    margin-top: 0px;
    height: 30vh;
}

.greetings {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.main-text{
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 20px;
}

.site-footer {
    text-align: center;
    background-color: #9a1915;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 15px;
}

.site-footer p {
    margin-bottom: 8px;
    margin-top: 8px;
}
.contact-info {
    margin-bottom: 5px;
}

.author-name {
    color: #dccacb;
    margin-bottom: 5px;
}

.author-email {
    margin-bottom: 5px;
}

.email-link {
    color: #2e89e4;
    text-decoration: none;
    transition: 0.5s;
}

