* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}


body {
    background-color: ghostwhite;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.nav-image {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 30%;
}

.site-header {
    height: 7rem;
    width: 100%;
    background-color: #E30613;
    color: white;
    align-items: center;
    display: flex;
}

.main-nav {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
}

.nav-item a {
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.2s;
    overflow-wrap: unset;
    text-decoration: none;
    color: white;
}

.nav-item a:hover {
    color: #000000;
}

.senai-image {
    width: 80%;
    height: auto;
}
.section-title{
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-a {  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    font-size: 2.1875rem;
    color: #681413;
    text-decoration: none;
    width: 100%;
}

.title-a:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: #F52C2C;
}
.title{
    display: flex;
    align-self: center;
}

.main-image {
    width: 100%;
    height: auto;
    margin-top: 0;
    border: #000000 solid 0.25rem;
}

.greetings {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.875rem;
}

.main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.25rem;
    font-size: 1.25rem;
    text-align: center;
}

.interviews-div, .news-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

}

.block, .block-2, .news-block, .carrers-block {
    height: 15rem;
    width: 25rem;
    background-color: #ff0000;
    border-radius: 2rem;
    border-bottom: 0.3125rem solid black;
    border-right: 0.3125rem solid black;
}

.block-2 {
    margin: 2rem;
}

.news-block {
    margin-bottom: 2rem;
}

.simulados {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
}

.simulados-topics {
    width: 35rem;
}

.simulados-title {
    font-size: 1.5rem;
    color: #8F1A1A;
    margin-bottom: 1rem;
}

.simulados-block {
    height: 8rem;
    width: 25rem;   
    background-image: linear-gradient(to bottom, #F52C2C, #8F1A1A);
    border-radius: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.3125rem solid black;
    border-right: 0.3125rem solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simuladosblock-text {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.simulados-button {
    background-color: white;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
}

.simulados-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.carrers {
    align-items: center;
    justify-content: center;
}

.carrers-div {
    align-items: center;
    display: flex;
    justify-content: center;
}

.carrers-block {
    margin: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.carrers-name {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24.7rem;
    margin-left: 0.1rem;
    margin-bottom: 8rem;
    font-weight: bold;
    font-size: 1.7rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
}

.carreiras-div {
    display: flex;
}

.carrers-block1 {
    background-image: url(/img/professor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carrers-block2 {
    background-image: url(/img/escritor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carrers-block3 {
    background-image: url(/img/juiz.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.carrers-block:hover .carrers-name {
    background-color: #681413;
    opacity: 1;
    transition: 0.3s ease;
}

.site-footer {
    display: flex;
    text-align: center;
    background-color: #E30613;
    color: #ffffff;
    flex-direction: column;
    font-size: 15px;
    height: 23rem;
    border-top: 0.125rem solid black;
    width: 100%;
}

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-senai {
    height: auto;
    width: 32%;
    margin: 0.625rem;
    margin-bottom: 18px;
}

.bar-footer .site-footer p {
    margin-bottom: 8px;
    margin-top: 8px;
}

.contact-info {
    margin-bottom: 5px;
}

.site-footer p {
    margin: 0.5rem 0;
}

.contact-info, .author-name, .author-email {
    margin-bottom: 0.3125rem;
}

.email-link {
    color: #2e89e4;
    text-decoration: none;
    transition: 0.5s;
}

.copy-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text-section{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    text-align: center;
}

.footer-horizontal {
    background-color: #ffffff;
    height: 0.75vh;
    width: 50%;
}

.footer-vertical{
    background-color: #ffffff;
    border-right: 3px;
    width: 8px;
    height: 70%;
    margin-top: 15px;
}

.footer-bottom{
    background-color: #9A1915;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 15px;
    
    /* text-align: justify; */

}
