* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Montserrat";
    font-optical-sizing: auto;
    text-align: justify;
}
:root {
    --background-color: ghostwhite;
    --title-color: #681413;
    --text-color: black;
    --light-color: #E30613;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: ghostwhite;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    animation: fadeIn 0.5s ease;
}

.header-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.nav-header{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-bottom: #9A1915 solid 0.25rem;
}

.sub-header{
    width: 100%;
    height: 40%;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: #000000 solid 0.25rem;
}

.nav-image {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 30%;
}

.site-header {
    height: 10rem;
    width: 100%;
    background-color: #E30613;
    align-items: center;
    display: flex;
   
}

.main-nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;

}
.nav-item, .nav-item-active{
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.2s;
    overflow-wrap: unset;
}
.nav-item a, .nav-item-active a{
    text-decoration: none;
    color: rgb(68, 65, 65);
}
.nav-item-active{
    background-color: rgb(247, 247, 250);
    border-radius: 1rem;
    width: 7rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.senai-image {
    width: 80%;
    height: auto;
}

.greetings {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.simulados-title {
    font-size: 3.125rem;
    color: var(--title-color);
    margin: 1rem;
}

.goodluck {
    color: var(--text-color);
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    bottom: 0.5rem;
}

.questions-container {
    position: relative;
    left: 16%;
}

.specific-question {
    white-space: normal;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.question-number {
    font-size: 1.5rem;
    font-weight: bold;
}

.entire-question {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 1.25rem;
    margin: 2.5rem;
    font-weight: 450;
}

.entire-question-text {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 1.25rem;
    margin: 2.5rem;
    font-weight: 450;
    text-indent: 2rem;
}

.answer-type {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, #F52C2C, #8F1A1A);
    border-radius: 0.75rem;
    border: 1px solid black;
    background-repeat: no-repeat;
    height: 4rem;
    margin-top: 1rem;
    width: 60%;
    font-size: 1rem;
    font-weight: normal;
    text-align: justify;
}

input {
    position: absolute;
    left: 54%;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

label {
    font-size: 1.1rem;
    color: var(--background-color);
    font-weight: bold;
    position: relative; 
    left: 3.25%;
}

.input:hover{
    background-color: rgb(red, green, blue);    
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.submit-button {
    height: 5rem;
    width: 20rem;
    background-color: #e90313;
    border-radius: 1rem;
    font-size: 1.7rem;
    transition: 0.2s ease-in-out;
}

.submit-button:hover {
    background-color: #9A1915;
    cursor: pointer;
    color: rgb(236, 236, 236);
}

.site-footer {
    display: flex;
    background-color: #E30613;
    color: #ffffff;
    flex-direction: column;
    font-size: 15px;
    height: 23rem;
    border-top: 0.125rem solid black;
    width: 100%;
}

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-senai {
    height: auto;
    width: 32%;
    margin: 0.625rem;
    margin-bottom: 18px;
}

.bar-footer .site-footer p {
    margin-bottom: 8px;
    margin-top: 8px;
}

.contact-info {
    margin-bottom: 5px;
}

.site-footer p {
    margin: 0.5rem 0;
}

.contact-info,
.author-name,
.author-email {
    margin-bottom: 0.3125rem;
}

.email-link {
    color: #2e89e4;
    text-decoration: none;
    transition: 0.5s;
}

.copy-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text-section {
    width: 20rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.footer-horizontal {
    background-color: #ffffff;
    overflow: hidden;
    height: 0.75vh;
    width: 50%;
}

.footer-vertical {
    background-color: #ffffff;
    border-right: 3px;
    width: 8px;
    height: 70%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    display: flex;
}

.footer-bottom {
    background-color: #9A1915;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 15px;
    /* text-align: justify; */
}

.footer-title-negrito {
    font-weight: bold;
}

.email-link {
    color: #2e89e4;
    text-decoration: none;
    transition: 0.5s;
}

.copy-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text-section{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.footer-horizontal {
    background-color: #ffffff;
    height: 0.75vh;
    width: 50%;
}

.footer-vertical{
    background-color: #ffffff;
    border-right: 3px;
    width: 8px;
    height: 70%;
    margin-top: 15px;
}

.footer-bottom{
    background-color: #9A1915;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 15px;
    
    /* text-align: justify; */

}

@media (max-width: 900px) {
    .header-container{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-around;
    } 
    .main-nav {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }
    
}