* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Montserrat";
    text-align: justify;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: ghostwhite;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.nav-image {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 30%;
}

.site-header {
    height: 7rem;
    width: 100%;
    background-color: #E30613;
    color: white;
    align-items: center;
    display: flex;
}

.main-nav {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
}
.nav-item a {
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.2s;
    overflow-wrap: unset;
}

a:hover {
    color: #000000;
}

.senai-image {
    width: 80%;
    height: auto;
}

.grupo {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.main-text {
    font-size: 20px;
    display: flex;
}

.site-title {
    font-size: 2em;
    font-weight: bolder;
    color: #681413;
}

.membros-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.sobrenos-title {
    margin-top: 20px;
    font-size: 50px;
    color: #681413;
}

.membros-title {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    color: #681413;
}

.person-photo {
    height: 25rem;
    width: 25rem;
    border-radius: 3.125rem;
    margin-top: 1.25rem;
    border: #681413 solid 0.313rem;
}

.site-footer {
    background-color: #9a1915;
    color: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.938rem;
    margin-top: 3rem;
}

.site-footer p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.contact-info {
    margin-bottom: 0.313rem;
}

.author-name {
    color: #dccacb;
    margin-bottom: 0.313rem;
}

.author-email {
    margin-bottom: 0.313rem;
}

.email-link {
    color: #2e89e4;
    text-decoration: none;
    transition: 0.5s;
}

.saudacoes-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    font-size: 1.563rem;
}

.nos-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.938rem;
}

.group-image{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: #681413 solid 0.5rem;
    width: 50%;
    height: auto;
}
.group-image img{
    width: 100%;
    height: 100%;
}
.grupo{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    border: #681413 solid 0.5rem;
    width: 50rem;
}

.membros-title {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.membro-div {
    font-size: 1rem;
    margin: 0.938rem;
    background-color: #9a1915;
    color: aliceblue;
    border-radius: 4.375rem;
    width: 40rem;
    height: 37.5rem;
    border: #681413 solid 0.5rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.hide-icon{
    transform: rotate(90deg);
}

.people-text {
    margin-top: 1.875rem;
    width: 80%;
}

.site-footer {
    display: flex;
    background-color: #E30613;
    color: #ffffff;
    flex-direction: column;
    font-size: 15px;
    height: 23rem;
    border-top: 0.125rem solid black;
    width: 100%;
}

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-senai {
    height: auto;
    width: 32%;
    margin: 0.625rem;
    margin-bottom: 18px;
}

.bar-footer .site-footer p {
    margin-bottom: 8px;
    margin-top: 8px;
}

.contact-info {
    margin-bottom: 5px;
}

.site-footer p {
    margin: 0.5rem 0;
}

.contact-info,
.author-name,
.author-email {
    margin-bottom: 0.3125rem;
}

.email-link {
    color: #2e89e4;
    text-decoration: none;
    transition: 0.5s;
}

.copy-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text-section {
    width: 20rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.footer-horizontal {
    background-color: #ffffff;
    overflow: hidden;
    height: 0.75vh;
    width: 50%;
}

.footer-vertical {
    background-color: #ffffff;
    border-right: 3px;
    width: 8px;
    height: 70%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    display: flex;
}

.footer-bottom {
    background-color: #9A1915;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 15px;
    /* text-align: justify; */
}

.footer-title-negrito {
    font-weight: bold;
}

@media (max-width: 900px) {
    .header-container{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-around;
    } 
    .main-nav {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }
    
}