* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: ghostwhite;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.nav-image {
    margin-left: 100px;
}

.site-header {
    height: 125px;
    width: 100%;
    background-color: #E30613;
    color: white;
    align-items: center;
    display: flex;
    padding: 40px;
}

.main-nav {
    align-items: center;
    display: flex;
    margin-left: 800px;
}

.main-text{
    font-size: 20px;
    text-align: center;
    display: flex;
}

.nav-item a {
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
    transition: 0.2s;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

.site-title {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color: #681413;
}

.sobrenos-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 50px;
    color: #681413;
}

.site-footer {
    text-align: center;
    background-color: #9a1915;
    padding: 20px 0;
    color: #ffffff;
    margin-top: 50px;
}

.contact-info {
    margin-bottom: 5px;
}

.author-name {
    margin-bottom: 5px;
}

.author-email {
    margin-bottom: 5px;
}

.email-link {
    color: #2e89e4;
    text-decoration: none;
    transition: 0.5s;
}

.saudacoes-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 25px;
}

.nos-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.grupo{
    align-items: center;
}
.membros-container {
    margin-top: 5px;
    font-size: 18px;
    padding-left: 39%;
}

.membros-title {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.membro-div {
    text-align: center;
    font-size: 16px;
    margin: 15px;
    background-color: #9a1915;
    color: aliceblue;
    border-radius: 15px;
    width: 400px;
}


.pedro {

}

.raphaelle {
    
}

.theo {

}

.vitor {
    
}